*{
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header__box{
    margin: 44px auto 0;
    width: 1440px;
    padding: 0 80px;
    justify-content: space-between;
    display: flex;
}
.header__box2{
    display: flex;
}
.header__ul{
    gap: 33px;
    display: flex;
}
.header__li{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
@media screen and (min-width: 426px) and (max-width: 768px){
    .header__box{
        margin-top: 40px 0 0 0;
        max-width: 768px;
        justify-content: baseline;
        padding: 0 45px 0 30px;
    }
    .header__box3{
        display: flex;
        align-items: center;
    }
    
    
}
@media screen and (min-width: 320px) and (max-width: 425px){
    .header__box{
        margin-top: 40px 0 0 0;
        max-width: 768px;
        justify-content: baseline;
        padding: 0 30px;
    }
    .header__box3{
        
        display: none;
    }
    
    
}
.container{
    margin: 0 auto;
    width: 1440px;
}
.section1__box{
    padding: 117px 703px 116px 84px;
    margin-top: 51px;
    border-radius: 10px;
    margin: 51px  auto 0;
    height: 600px;
    width: 1280px;
    background-image: url(./images/Bitmap.jpg);
}
.section1__box2{
    width: 493px;
}
.section1__text{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}
.section1__text2{
    margin: 32px 0 56px 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.section1__btn{
    height: 56px;
    width: 217px;
    background: #0E8784;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    .section1__box{
        margin-left: 30px;
        padding: 104px 223px 104px 58px;
        background-repeat: no-repeat;
        background-image: url(./images/Bitmap.png);
    }
    .section1__text{
        width: 329px;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
    }
    .section1__text2{
        width: 398px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
    .section1__btn{
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
    }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    .section1__box{
        display: flex;
        margin-left: 30px;
        padding: 100px 24px 99px 24px;
        background-repeat: no-repeat;
        background-image: url(./images/Object.png);
    }
    .section1__text{
        text-align: center;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        width: 279px;
    }
    .section1__text2{
        text-align: center;
        width: 279px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
    .section1__btn{
        margin: 0 30px;
    }
}
.section2__box{
    gap: 30px;
    background: center;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    background-image: url(./images/Group\ 13.png);
}
.section2__box2{
    margin-top  : 448px;
    width: 255px;
}
.section2__text{
    margin: 71px auto 24px;
    font-family: 'Fraunces ';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333d48
}
.section2__text2{
    width: 245px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    .section2__box{
        width: 689px;
        background-position: 6px -27px;
        background-image: url(./images/Group\ 14.png);
        flex-direction: column;
        display: flex;
    }
    .section2__box2{
        margin: 0 0 0 90px ;
        display: flex;
    }
    .section2__text{
        text-align: start;
        margin-top: 50px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
    }
    .section2__text2{
        width: 282px;
        margin-top: 24px;
        text-align: start;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    .section2__box{
        max-width: 425px;
        background-position: 6px -27px;
        background-image: url(./images/Group\ 7.png);
        flex-direction: column;
        display: flex;
    }
    .section2__box2{
        margin: 0 auto;
    }
    .section2__text{
        text-align: center;
        margin-top: 50px;
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
    }
    .section2__text2{
        width: 282px;
        margin-top: 24px;
        text-align: center;
        font-family: 'Barlow';
        font-size: 15px;
        line-height: 25px;
    }
}
.section3__text{
    margin-top: 200px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    
}
.section3__text2{
    margin: 32px auto 0;
    width: 520px; 
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.section3__box2{
    margin-top: 100px;
}
.section3__box{
    margin: 0 auto;
    width: 1280px;
    height: 577px;
    background: #2C343E;
    border-radius: 10px;
}
.section3__box3{
    margin-top: 190px;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 72px 48px 48px 47px;
    width: 350px;
    height: 382px;
    background: #0E8784;
    border-radius: 8px;
}
.section3__text3{
    margin: 56px 0 24px 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}
.section3__text4{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FEFCF7;
}
.img{
    height: 72px;
    width: 71px;
}
.section3__box5{
    justify-content: center;
    gap: 30px;
    display: flex;
}
.p{
    margin-left: 165px;
    margin-top: 300px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    .section3__box{
        margin: 0 30px;
        max-width: 688px;
    }
    .section3__box5{
        margin-top: 120px;
        gap: 24px;
        flex-direction: column;
        display: flex;
    }
    .section3__box3{
        gap: 55px ;
        margin: 0 auto;
        height: 180px;
        align-items: center;
        flex-direction: row;
        display: flex;
        padding: 41px 48px 41px 70px;
        width: 573px;
    }
    .section3__text3{
        text-align: start;
        display: flex;
        margin-top: 0;
    }
    .section3__text4{
        text-align: start;
        
    }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    .section3__box{
        height: 902px;
        margin: 0 30px;
        max-width: 424px;
    }
    .section3__text{
        text-align: center;
        font-family: 'Fraunces ';
        font-weight: 900;
        font-size: 28px;
        line-height: 28px;
    }
    .section3__text2{
        font-family: 'Barlow';
        font-size: 15px;
        width: 279px;
        line-height: 25px;
        text-align: center;
    }
    .section3__box5{
        margin-top: 64px;
        gap: 24px;
        flex-direction: column;
        display: flex;
    }
    .section3__box3{
        margin: 0 auto;
        width: 279px;
        display: flex;
        flex-direction: column;
    }
}

.hr{
    margin-top: 95px;
    width: 760px;
    border: 2px solid #FDD6BA;
}
.box{
    margin-left: 165px;
    width: 760px;
    position: relative;
}
.img2{
    top: -12px;
    position: absolute;
}
.img3{
    right: 0px;
    top: -12px;
    position: absolute;
}
.img4{
    left: 380px;
    top: -12px;
    position: absolute;
}
.section4__box{
    width: 285px;
}
.section4__text{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    
}
.section4__text2{
    margin: 38px 0 42px;
    width: 200px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}
.section4__text3{
    width: 270px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.box2{
    margin-left: 165px;
    margin-top: 70px;
    gap: 80px;
    display: flex;
}
.section4__btn{
    border-radius: 6px #0E8784 solid;
    margin-top: 65px;
    margin-left: 165px;
    height: 56px;
    width: 217px;
    background: #0E8784;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    color: #FEFCF7;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    .adding{
        margin: 0 30px;
        width: 689px;
    }
    .box{
        margin: 0 30px;
    }
    .box2{
        width: 223px;
        margin: 20px 30px;
    }
    .section4__box{
        width: 223px;
    }
    .section4__text{
        margin: 0   ;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
    }
    .section4__text2{
        width: 223px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 32px;
    }
    .section4__text2{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        width: 210px;
    }
}
.footer__box{
    margin: 216px auto 0;
    padding: 48.44px 85px 48px 86px;
    width: 1280px;
    height: 120px;
    background: #2C343E;
    display: flex;
}
.footer__ul{
    margin-left: 103px;
    gap: 32px;
    align-items: center;
    display: flex;
}
.footer__li{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    
}
.section5__box{
    margin-top: 45px;
    margin-left: 80px;
    background-repeat: no-repeat;
    height: 450px;
    background-image: url(./images/Bitmap\ \(1\).jpg);
}
.section5__box1{
    padding: 137px 0 137px 85px;
    width: 485px;
}
.section5__text{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}
.section5__text1{
    margin-top: 24px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}
.section6__box{
    gap: 125px;
    margin: 168px auto 0;
    width: 1110px;
    display: flex;
}
.section6__text{
    margin-top: 100px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
}
.section6__text2{
    margin-top: 32px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.section7__box{
    margin: 300px auto 0;
    position: relative;
    height: 562px;
    width: 1280px;
}
.section7__box2{
    background: #2C343E;
    border-radius: 10px;
    padding: 88px 655px 176px 85px;
    width: 1280px;
    height: 474px;
}
.section7__text{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    
}
.section7__text2{
    margin-top: 30px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.section7__img{
    bottom: 160px;
    right: 90px;
    position: absolute;
}
.section8__box{
    width: 1145px;
    margin: 165px auto 0;
}
.section8__box3{
    gap: 108px;
    display: flex;
}
.section8__text{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
.section8__text2{
    width: 280px;
    margin: 46px 0 24px 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}
.section8__li{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.section8__box2{
    margin-top: 72px;
}
.section9__box2{
    height: 356px;
    width: 255px;
}
.section9__text{
    color: #83888F;
    margin-top: 24px;
    display: inline-block;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.section9__text2{
    margin-left: 28.5px;
    display: inline;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.section9__hr{
    margin-top: 24px;
    background: #83888F;
    mix-blend-mode: normal;
    opacity: 0.25;
}
.section9__box4{
    margin-left: 125px  ;
    height: 354px;
    width: 730px;
}
.section9__box{
    justify-content: center ;
    margin: 159px auto 0;
    display: flex;
}
.section9__text3{
    display: inline-block;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
}
.section9__text4{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.section9__text5{
    margin-top: 24px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.section9__box5{
    gap: 23px;
    display: flex;
    margin-top: 56px;
}
.section9__box6{
    background: #F4F1EB;
    border-radius: 8px;
    height: 250px;
    width: 228px;
    padding: 32px 28px 84px 28px;
}   
.section9__box10{
    margin: 88px 0 0 545px;
    padding: 27px 64px 27px 64px;
    background: #2C343E;
    height: 208px;
    width: 730px;
    
}
.section9__text6{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.section9__text7{
    margin-top: 8px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}
span{
    color: #0E8784;
}
.btn3{
    margin: 40px 0 0 1058px;
    border: none;
    height: 56px;
    width: 217px;
    background: #0E8784;
    border-radius: 6px;
    font-family: 'Fraunces ';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    
}